  <div class="modal-body pb-2 mx-2 px-2">
    <div class="container-fluid">
      <div class="row d-flex justify-content-end">
        <button type="button" class="btn-close close pull-right justify-content: space-between" aria-label="Close"
        (click)="onClose()"  data-bs-dismiss="modal">
          <span aria-hidden="true" class="visually-hidden" >&times;</span>
        </button>
      </div>

      <div class="row pt-1">
        <div class="col-sm-12 d-flex justify-content-center icon-animation">
          <app-animation [animationPath]="animationPath" [height]="height" [width]="width"></app-animation>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-12 ">
          <div class="frequencyLabel titles mb-2">{{stringValues?.ERROR}}!</div>
        </div>
      </div>

      <div class="row mt-md-2 mb-2">
          <div class="modal-name text-center common-message p-0">{{message}}</div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary close-button" (click)="onClose()" data-bs-dismiss="modal">{{stringValues?.CLOSE  | uppercase}}</button>
    </div>
  </div>