.custom-pagination-controls {
    font-size: 12px;
}

.page-number-text {
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-family: 'Montserrat-Medium';
}

.select-rows {
    width: 102px;
    padding-right: 0px !important;
}

.row-input {
    width: 75%;
    font-size: 12px;
}

.chevronIcon {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed !important;
}