<div class="row">
    <div class="col-md-12 d-fle">
        <div class="row" id="roles_admin" [formGroup]="registerUser">
            <div id="section_user_role" class="col-md-6 section_user_role">
                <label class="form-label">{{stringValues?.USER_ROLES}}</label>
                <div class="col-md-12 pt-3 pb-3" *ngFor="let user of userRoles; index as i;">
                    <div class="row">
                        <!-- <div class="col-md-8">
                            {{stringValues[user.rolecode]}}
                        </div> -->
                        <div class="col-md-12">
                            <!-- <label class="switch">
                                <input class="form-check-input" name="{{user.categorycode}}" type="checkbox" role="switch" id={{user.rolecode}} (change)="handleRadioChange($event.target)">
                                <span class="slider round"></span>
                            </label> -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" name="{{user.categorycode}}"
                                    id={{user.rolecode}} (change)="handleRadioChange($event.target)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{stringValues[user.rolecode]}}
                                </label>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-md-12 pt-3 pb-3" *ngIf="isUserChecked">
                    <button type="button" class="btn btn-clear btn-outline-primary btn-sm" (click)="clearRoles('user')">{{stringValues?.CLEAR}}</button>
                </div>
                <div class="role_required">
                    <div *ngIf="f?.isRoleAndLevelFormValid?.value === false">
                        {{stringValues?.ATLEAST_ONE_ROLE_IS_REQUIRED}}
                    </div>
                </div>
            </div>

            <div id="section_admin_role" class="col-md-6">
                <div class="offset-md-1">
                    <label class="form-label">{{stringValues?.ADMIN_ROLES}}</label>
                    <ng-container *ngFor="let user of adminRoles; index as j;">
                        <div class="col-md-12 pt-3 pb-3" *ngIf="checkUserRole(user.rolecode)">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [disabled]="userCategory !== 'SSO' ? true : false" name="flexRadioDefault" name="{{user.categorycode}}"
                                    id={{user.rolecode}} (change)="handleRadioChange($event.target)">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{stringValues[user.rolecode]}}
                                </label>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-md-12 pt-3 pb-3" *ngIf="isAdminChecked">
                        <button type="button" class="btn btn-clear btn-outline-primary btn-sm" (click)="clearRoles('admin')">{{stringValues?.CLEAR}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>