<!-- 
<ion-content class="context">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>roleAssignment</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container-fluid mt-5 ">
    <div class="card role-filter-card mx-5 mt-3 pt-1">
        <div class="card-body-style">
            <div class="row  mb-4 mt-4 pt-2">
                <div class="col-md-12">
                    <div class="row">
                       <div class="col-md-6 mx-5 p-0">                       
                        <label class="form-label">{{stringValues?.ROLE_FILTER_CARD_ROLES_ASSIGNED_FOR_LABEL}}</label>
                        <div class="row role-assignment-radio-btns">
                            <div class="col-md-3 form-check">
                                <input class="form-check-input" type="radio" value="division"
                                    name="role_assigned"  id="division"
                                    (change)='onRadioChange("division")' [checked]="true">
                                <label class="form-check-label" for="division">
                                    {{stringValues?.ROLE_FILTER_CARD_RADIO_BTN_DIVISION}}
                                </label>
                            </div>
                            <div class="col-md-3 form-check">
                                <input class="form-check-input" type="radio" value="business"
                                    name="role_assigned"  id="business" (change)='onRadioChange("business")'>
                                <label class="form-check-label" for="business">
                                    {{stringValues?.ROLE_FILTER_CARD_RADIO_BTN_BUSINESS}}
                                </label>
                            </div>
                            <div class="col-md-3 form-check">
                                <input class="form-check-input" type="radio" value="facility"
                                    name="role_assigned"  id="facility"
                                    (change)='onRadioChange("facility")'>
                                <label class="form-check-label" for="facility">
                                    {{stringValues?.ROLE_FILTER_CARD_RADIO_BTN_FACILITY}}
                                </label>
                            </div>

                        </div>
                        
                       </div>
                       <div class="col-md-6"></div>
                    </div>
                    <div class="row mt-4 mx-4">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-select" aria-label="Default">
                                        <option selected>All Division</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" aria-label="Default">
                                        <option selected>select division</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" aria-label="Default">
                                        <option selected>select division</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</ion-content> -->

<div class="under-construction">
    This page is under construction
  </div>
  
